body {
    font: 400 14px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
    /*background: url('img/planokc_bg.jpg') repeat-x; */
    margin: 0px;
}

.ui-widget-header {
    background: #0f82f5;
    border: #0D74FF;
}

.popover {
    background-color: #FFF;
    color: #000810;
}

.popover-title {
    background-color: #FFF;
    border-bottom: 1px solid #000;
    color: #000810;
}

.popover.top .arrow:after {
    border-top-color: #FFF;
}

.popover.right .arrow:after {
    border-right-color: #FFF;
}

.popover.bottom .arrow:after {
    border-bottom-color: #FFF;
}

.popover.left .arrow:after {
    border-left-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', Georgia, serif;
}